<p id="notice"><%= notice %></p>

<h1>Tracks</h1>

<%= link_to 'New Track', new_track_path %>

<table>
  <thead>
    <tr>
      <th>Artist Name</th>
      <th>Song Title</th>
      <th>Album Title</th>
    </tr>
  </thead>

  <tbody>
    <h3> Most Recent Tracks </h3>

    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.artist_name %></td>
        <td><%= track.song_title %></td>
        <td><%= track.album_title %></td>
        <td><%= link_to 'Show', track %></td>
        <td><%= link_to 'Edit', edit_track_path(track) %></td>
        <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Track', new_track_path %>
